[Unit]
Description=presto
After=network.target

[Service]
Type=forking
User=root
WorkingDirectory={{ presto_dir}}/
ExecStart={{ presto_dir}}/bin/launcher start

[Install]
WantedBy=multi-user.target 
