-server
-Xmx{{presto_max_heap_size}}
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError
-Dcom.sun.management.jmxremote=true
-Dcom.sun.management.jmxremote.port={{presto_jmxremote_port}}
-Dcom.sun.management.jmxremote.local.only=false
-Dcom.sun.management.jmxremote.authenticate=false
-Dcom.sun.management.jmxremote.ssl=false
-javaagent:{{jmx_exporter_java_agent_file}}={{presto_prometheus_port}}:{{jmx_exporter_config_file}}
